name: CI

on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-latest, macOS-latest, ubuntu-latest ]

    steps:
      - uses: actions/checkout@v2

      # - name: Install LLVM on Windows
        # if: runner.os == 'Windows'
        # run: choco install -y llvm
        # run: echo "::add-path::C:\\msys64\\mingw64\\bin"

      - name: Cache LLVM and Clang
        if: runner.os == "Windows"
        id: cache-llvm
        uses: actions/cache@v2
        with:
          path: ${{ runner.temp }}/llvm
          key: llvm-10.0

      - name: Install LLVM and Clang
        if: runner.os == "Windows"
        uses: KyleMayes/install-llvm-action@v1
        with:
          version: "10.0"
          directory: ${{ runner.temp }}/llvm
          cached: ${{ steps.cache-llvm.outputs.cache-hit }}

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      
      - name: Build
        run: cargo build

      - name: Test
        run: cargo test
